@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.StandardPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<header class="main-background header-text">
	<div class="container text-center">
		<div data-aos="fade-right" data-aos-duration="1500">
				<h1>@Model.Name</h1>
			</div>
		</div>
</header>

<section>
	<content>
		@Html.GetGridHtml(Model, "gridLayoutStandard")
	</content>
</section>