@inherits Umbraco.Web.Mvc.UmbracoViewPage


<section class="slider-margin">
        <div class="container">
            <div id="bs4-slide-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h2>Instagram Psykobs Aalborg</h2>
                        <!-- LightWidget WIDGET -->
                        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/82f34aebf4df5ae5a2b61fef414e83ad.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                        <button class="btn instagram-link-btn" type="button"><a href="instagram://user?username=psykobsaalborg">Åben i app</a></button>
                    </div>
                    <div class="carousel-item">
                        <h2>Instagram Psykobs København</h2>
                        <!-- LightWidget WIDGET -->
                        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/4f91c0b2ae7951789275a1b9556e1eed.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                        <button class="btn instagram-link-btn" type="button"><a href="instagram://user?username=psykobskbh">Åben i app</a></button>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <button class="btn button-main" id="btnPrev"><i class="arrow left"></i></button>
                <button class="btn button-main" id="btnNext"><i class="arrow right"></i></button>
            </div>
        </div>
</section>